In [16]:
import pandas as pd
import env
import os

In [17]:
def get_connection(db, username=env.username, host=env.host, password=env.password):
    return f'mysql+pymysql://{username}:{password}@{host}/{db}'

In [20]:
# select the columns I need and set up the where clause to define it.

def get_new_zillow_data():
    
    sql = '''
    select 
    bedroomcnt as bedroom,bathroomcnt as bathroom, calculatedfinishedsquarefeet as square_ft,yearbuilt, fips,
    taxvaluedollarcnt as house_value, taxamount as tax
    FROM zillow.properties_2017
    left join zillow.predictions_2017 using (parcelid)
    WHERE propertylandusetypeid = 261 and transactiondate like "2017%%"
    '''
    
    return pd.read_sql(sql, get_connection('zillow'))

In [21]:
df = get_new_zillow_data()
df.head()

   bedroom  bathroom  square_ft  yearbuilt    fips  house_value       tax
0      4.0       3.5     3100.0     1998.0  6059.0    1023282.0  11013.72
1      2.0       1.0     1465.0     1967.0  6111.0     464000.0   5672.48
2      3.0       2.0     1243.0     1962.0  6059.0     564778.0   6488.30
3      4.0       3.0     2376.0     1970.0  6037.0     145143.0   1777.51
4      4.0       3.0     2962.0     1950.0  6037.0     773303.0   9516.26