In [1]:
import acquire_zillow
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import math

In [2]:
raw_data = acquire_zillow.get_new_zillow_data()
df = raw_data.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bedroom      52441 non-null  float64
 1   bathroom     52441 non-null  float64
 2   square_ft    52359 non-null  float64
 3   yearbuilt    52325 non-null  float64
 4   fips         52441 non-null  float64
 5   house_value  52440 non-null  float64
dtypes: float64(6)
memory usage: 2.4 MB

In [3]:
df.head()

   bedroom  bathroom  square_ft  yearbuilt    fips  house_value
0      4.0       3.5     3100.0     1998.0  6059.0    1023282.0
1      2.0       1.0     1465.0     1967.0  6111.0     464000.0
2      3.0       2.0     1243.0     1962.0  6059.0     564778.0
3      4.0       3.0     2376.0     1970.0  6037.0     145143.0
4      4.0       3.0     2962.0     1950.0  6037.0     773303.0

In [4]:
df.isnull().sum()

bedroom          0
bathroom         0
square_ft       82
yearbuilt      116
fips             0
house_value      1
dtype: int64

In [5]:
df = df.dropna()
df.shape

(52319, 6)

In [6]:
df.isnull().sum()

bedroom        0
bathroom       0
square_ft      0
yearbuilt      0
fips           0
house_value    0
dtype: int64